/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
header{
  background:#FFFFFF;
  @include shadow(0 1px 5px rgba(0, 0, 0, 0.1));
  width:100%;
  //height: 80px;
  min-width: $min-width;
  text-align: left;
  order: 1;
  -webkit-order: 1;

  .wrapper {
    display: flex;
    justify-content: space-between;
  }

  .logo {
    padding: 22px 0;
  }

  .navigation {
    overflow: hidden;
    padding: 10px 0;
    //padding: 10px 145px 10px 145px;

    a {
      font-family: $base-font-family;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      color: $link-color;
      float: left;
      text-align: center;
      padding: 12px;
      text-decoration: none;
      border-radius: 4px;

      &:hover,
      &.active {
        color: $link-color-hover;
      }
    }
  }

  .header__position-right {
    display: contents;
  }

  .icons-group {
    width: 66px;
    display: flex;
    padding: 18px 0;
    justify-content: space-between;
  }

  .language-wrap {
    padding: 22px 0;
  }
}



@media screen and (max-width: 1200px) {

}

@media screen and (min-width: 992px){

}

@media screen and (max-width: 991px) {

}

@media screen and (min-width: 768px) and (max-width: 991px) {

}

@media screen and (max-width: 767px) {
  header {
    height: 100%;
    position: relative;

    .wrapper {
      display: contents;
    }

    .logo,
    .icons-group {
      padding-left: 12px;
    }

    .navigation {
      float: none;

      a {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
      }
    }

    .header__position-right {
      display: flex;
      justify-content: inherit;
      padding-right: 30px;
    }
  }
}
